{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/footer.css' %}">
<!--====== FOOTER ONE PART START ======-->
<footer class="footer-area footer-one">
   <div class="footer-widget">
      <div class="container">
         <div class="row">
            <div class="col-xl-6 col-lg-4 col-sm-12">
               <div class="f-about">
                  <div class="footer-logo">
                     <a href="javascript:void(0)">
                     <img src="{% static 'main/img/Footer-logo.png'%}" alt="Logo" />
                     </a>
                  </div>
                  <p class="text">
                     Lorem Ipsum is simply dummy text of the printing and
                     typesetting industry.
                  </p>
               </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-sm-4">
               <div class="footer-link">
                  <h6 class="footer-title">Company</h6>
                  <ul>
                     <li><a href="javascript:void(0)">About</a></li>
                     <li><a href="javascript:void(0)">Contact</a></li>
                     <li><a href="javascript:void(0)">Marketing</a></li>
                     <li><a href="javascript:void(0)">Awards</a></li>
                  </ul>
               </div>
               <!-- footer link -->
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4">
               <div class="footer-link">
                  <h6 class="footer-title">Services</h6>
                  <ul>
                     <li><a href="javascript:void(0)">Products</a></li>
                     <li><a href="javascript:void(0)">Business</a></li>
                     <li><a href="javascript:void(0)">Developer</a></li>
                     <li><a href="javascript:void(0)">Insights</a></li>
                  </ul>
               </div>
               <!-- footer link -->
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4">
               <!-- Start Footer Contact -->
               <div class="footer-contact">
                  <h6 class="footer-title">Help & Support</h6>
                  <ul>
                     <li><i class="fas fa-map-marker-alt"></i> Madison Street, New York, USA</li>
                     <li><i class="fas fa-phone"></i> +88 556 88545</li>
                     <li><i class="fas fa-envelope"></i> support@ayroui.com</li>
                  </ul>
               </div>
               <!-- End Footer Contact -->
            </div>
         </div>
         <!-- row -->
      </div>
      <!-- container -->
   </div>
   <!-- footer widget -->
</footer>
<!--====== FOOTER ONE PART ENDS ======-->
