<!-- create theme based bootstrap navigation menu for personal portfolio for software developer -->

{% extends 'main/base.html'%}
{% block pagetitle%}
Home Page |
{% endblock%}
{% block maincontent%}
{% include 'main/Hero.html'%}
<h2>This is the main content for home page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, debitis! Vitae eaque minima accusantium molestias odit facilis sapiente eos consequuntur unde impedit neque aspernatur voluptatibus nostrum numquam cumque, dicta rerum.</p>
{% include 'main/why-us.html'%}
{% endblock%}
